.App {
  --color1: rgba(232, 197, 71, 1);
  --color2: rgba(41, 115, 115, 1);
  --color3: rgba(18, 22, 25, 1);
  --color4: rgba(45, 71, 57, 1);
  --color5: rgba(9, 129, 74, 1);
  --hero: var(--color1);
  --fg: #eee;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  --color1: rgba(232, 197, 71, 1);
  --color2: rgba(41, 115, 115, 1);
  --color3: rgba(18, 22, 25, 1);
  --color4: rgba(45, 71, 57, 1);
  --color5: rgba(9, 129, 74, 1);
  --hero: var(--color1);
  --fg: #eee;
  background-color: var(--color3);
  color: var(--fg);
}

.App-header {
  width: 100%;
  background-color: var(--fg);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: var(--color3);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  height: 100%;
  font-size: 0.6em;
  padding: 0.25em;
  border-top: 1px black;
  justify-items: center;
  align-items: center; 
  width: 100%;
}
.Album-art{
  border-width: 1px;
  border-color: rgba(200, 200, 200, 0.3);
  border-style: solid;
  height: 10rem;
  width: 10rem;
  padding: 0.1rem;
}
.Album-grid img {
  /* padding: 1rem; */
  height: 10rem;
  /* background: url('loading.png') no-repeat; */
}
.Album-artists {
  font-weight: 700;
}
button {
  border: none;
  background-color: var(--hero);
  padding: 0.6rem 1.2rem;
  margin: 0.5rem;
}
button:disabled {
  background: #dddddd;
}

input {
  border: none;
  background-color: var(--hero);
  padding:  0.5rem 2%;
  width: 98%
  /* margin: 1em; */
}


.loader {
  /* width: 120px; */
  /* height: 120px; */
  animation: spin 2s linear infinite;
}

.Album-display {
  text-align: center;
  width: 15rem;
  height: 18rem;
  padding: 1em;
  
}

.content{
  display: grid;
  /* align-items: center; */
  /* display: inline-block; */
}

.sizeDiv {
  display: grid;
  height: 100%
}

.currentTrack{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-template-columns: 1fr 5fr;
  /* grid-template-columns: auto; */
  justify-items: left;
  text-align: left;
  padding: 0.5em 0.1em;
  font-size: 0.8em;
  padding: 1em;
  position: absolute;
}
.currentTrack div  {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 7s linear 0s infinite;
}

.currentTrack img {
  width: 2.5em;
  height: 2.5em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}